body
{
    background-color: lightsteelblue;
}

#game
{
    width:460px;
    margin-left:50px; 
    margin-top:10px;
    float:left;
}

.field
{
    width:39px;
    height:39px;
    font-size:32px;
    text-align:center;
    border: 1px solid black;
    margin:-3px;
}

#menu
{
    width:120px;
    height: 200px;
    margin-top:20px;
    margin-left:20px;
    float:left;
}

.menuItem
{
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-weight: inherit;
    color: #555;
    font-size: 16px;
    width: 100px;
    margin-top:10px;
    border-bottom: 1px solid black;
}

.menuItem:hover 
{
    font-weight: bolder;
}

.categoria
{
    color: royalblue;
    cursor: default;
    font-size: 22px;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 0;
    text-indent: 5px;
    width: 100%;
}

.tree{
    width:300px;
    height: 500px;
    float:left;
    margin-left:100px;
    margin-top:20px;
}

.treeOperations{
    width: 250px;
    float:left;
    height: 250px;
    border: 1px solid;
}

#text
{
    margin-top:25px;
    width:350px;
    background-color: whitesmoke;
    box-shadow: 2px 6px 8px -3px #666666;
    border-radius: 5px;  
    padding-left:10px;

}

.backGroundRed
{
    background-color: red;
}

.backGroundWhite
{
    background-color: white;
}

.backGroundLightGreen
{
    background-color: lightgreen;
}